$light-gray: rgb(139, 142, 143);
$dark-gray: rgb(39, 42, 43);
$sky-blue: rgb(0, 173, 255);
$golden-yellow: rgb(245, 237, 24);
$rose: rgb(255, 25, 53);

$game-font: 'Montserrat', sans-serif;;
$display-font: 'Zilla Slab', serif;

html {
    background: $dark-gray;

}

body {
    color: $light-gray;

}

#app {
    margin-top: 40px;

}


/*Setup Game Board*/
h1 {
    text-align: center;
    font-family: $display-font;
}

#table {
    width: 310px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    
    font-family: $game-font;
    margin: 0 auto;

    margin-top: 80px;
}

.row {
    
}


.cell {
    width: 100px;
    height: 80px;
    padding-top: 20px;
    text-align: center;
    
    font-size: 3em;

}

.horizontal{

    border-top: 4px solid $light-gray;
    border-bottom: 4px solid $light-gray;
}

.vertical  {
    border-left: 4px solid rgb(139, 142, 143);
    border-right: 4px solid rgb(139, 142, 143);
}

.active {
    font-family: $game-font;
    background-color: $light-gray;
    color: $dark-gray;
    padding: 3px;
}

.x-mark {
    color: $sky-blue;
}

.o-mark {
    color: $golden-yellow;
}

/*Messages*/
#whosTurn {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

button {
    border-radius: 0;
    background: $dark-gray;
//    border: 4px solid $dark-gray;
    border: 0;

    box-shadow: 0;
    color: $light-gray;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: .9em;
    outline: none;
}

button:hover {
    background: $light-gray;
    color: $dark-gray;
}

#won, #draw, #x-or-o, #difficulty-setting, #one-or-two {
    font-family: $display-font;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $rose;
    color: $dark-gray;
    opacity: 0.9;
    padding: 10px;
    text-align: center;

}


//.fade-enter-active {
//    transition: all 0s ease;
//}
.fade-leave-active {
    transition: all .2s ease;
}

.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {

  opacity: 0 !important;
}




