<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TicTacToe</title>
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat|Rokkitt|Zilla+Slab" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        
        <div id="app">
            <h1>Tic Tac Toe</h1>
            
            <transition name="fade" mode="out-in">
                <div v-cloak v-if="computerPlayer === ''" id="one-or-two" key="one-or-two">
                    <h2>One Player or Two Player?</h2>
                    <button @click="chooseOneOrTwo(true)">One Player</button>
                    <button @click="chooseOneOrTwo(false)">Two Player</button>
                </div>
            
            
            
                <div v-cloak v-if="computerPlayer && difficulty === ''" id="difficulty-setting" key="difficulty-setting">
                    <h2>Difficulty Setting</h2>
                    <button @click="chooseDifficulty('easy')">Easy</button>
                    <button @click="chooseDifficulty('medium')">Medium</button>
                    <button @click="chooseDifficulty('hard')">Hard</button>
                </div>
            
            
            
                <div v-cloak v-if="difficulty !== '' && XorO === ''" id="x-or-o" key="x-or-o">
                    <h2>X or O?</h2>
                    <button @click="chooseXorO('X')">X</button>
                    <button @click="chooseXorO('O')">O</button>
                </div>
            </transition>
        
            <div id="whosTurn">
                <span :class="{active: currentPlayer==='X'}">X</span > | 
                <span :class="{active: currentPlayer==='O'}">O</span>
            </div>
        
            <div id="table" @click="mark" >
                    <div v-cloak class="cell" :class="markColor(0)" id="_0">{{ gameboard[0] }}</div>
                    <div v-cloak class="cell vertical" :class="markColor(1)" id="_1" >{{ gameboard[1] }}</div>
                    <div v-cloak class="cell" :class="markColor(2)" id="_2">{{ gameboard[2] }}</div>
                    <div v-cloak class="cell horizontal" :class="markColor(3)" id="_3">{{ gameboard[3] }}</div>
                    <div v-cloak class="cell vertical horizontal" :class="markColor(4)" id="_4" >{{ gameboard[4] }}</div>
                    <div v-cloak class="cell horizontal" :class="markColor(5)" id="_5">{{ gameboard[5] }}</div>
                    <div v-cloak class="cell" :class="markColor(6)" id="_6">{{ gameboard[6] }}</div>
                    <div v-cloak class="cell vertical" :class="markColor(7)" id="_7" >{{ gameboard[7] }}</div>
                    <div v-cloak class="cell" :class="markColor(8)" id="_8">{{ gameboard[8] }}</div>

            </div>
            
            <transition name="fade">
                <div v-cloak v-if="someoneHasWon" id="won" key="won">
                    <h2>{{ winner }} Won!</h2>
                    <h3>Play Again?</h3>
                    <button @click="resetBoard">Play Again</button>
                    <button @click="hardReset">Start Over</button>
                </div>

                <div v-cloak v-if="spacesLeft === '' && !someoneHasWon" id="draw" key="draw">
                    <h2>It's a draw!</h2>
                    <h3>Play Again?</h3>
                    <button @click="resetBoard">Play Again</button>
                    <button @click="hardReset">Start Over</button>
                </div>
            </transition>
            
<!--
            <div v-show="goodbye" id="bye">
                <h1>Goodbye! Thanks for playing!</h1>
            </div>
-->
        
        </div>
        

        <script src="https://unpkg.com/vue"></script>
        <script src="js/main-clean.js"></script>
    </body>
</html>